@import "tailwindcss";

@theme {
    --color-adminGreen: #3c8670;
    --color-HeahderGreen: #24ca85;
}

@layer utilities {
    .font-gravitas {
        font-family: var(--font-gravitas);
    }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-password-toggle-button {
  display: none !important;
}